/* BASIC */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
  --color-white: #f5f5f5;
  --color-black: #121212;
  --font-family: 'Nunito Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-family);
  color: var(--color-black);
  line-height: 1.58;
  min-height: 100vh;
}
